<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
      <header><h4>{% block title %}This is inheritence.{% endblock %}</h4></header>
      <main>
          {% block content %}
              Inheritance allows programmers to create classes that are built upon existing classes, to specify a new implementation while maintaining the same behaviors (realizing an interface), to reuse code and to independently extend original software via public classes and interfaces.
          {% endblock %}
      </main>
</body>
</html>